{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" data-sidebar-color="light" data-topbar-color="light" data-sidebar-view="default">
<head>
    <meta charset="utf-8">
    <title>{% trans "Dashboard | OpenChat" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <link rel="icon" href="{% static '/assets/images/favicon.ico' %}" type="image/x-icon">
    
    <link href="{% static 'dashboard/css/vendors/flatpickr.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/style.css' %}" rel="stylesheet" />
    <!-- App css -->
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons.min.cs' %}s" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/libs/@iconscout/unicons/css/line.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- Head Js -->
    <script src="{% static 'assets/js/head.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet"  />
</head>

<body>

<div class="app-wrapper">
    <!-- Page wrapper -->
        <!-- Sidebar -->
            {% include 'layout/sidebar-bot-page.html' %}
        <!-- Sidebar ends -->
        <!-- Start Page Content here -->
        <div class="app-content">
            {% if not doNotShowTopHeader %}
            {% include 'layout/header.html' %}
            {% endif %}
        
            {% block content %}{% endblock %}
        </div>     
        <div class="profile-menu">
            <div class="flex flex-col items-center h-full gap-4 py-10 px-3">

                <a href="#" type="button" class="flex flex-col items-center gap-1">
            <span class="uil uil-chat-bubble-user"></span>
            <span class="font-medium text-base">{{ user.first_name }} {{ user.last_name }}</span>
            <span class="text-sm">{{ user.is_superuser|yesno:"Super Admin,Account Holder" }}</span>
                </a>
                <div>
                    <a class="menu-link" href="{% url 'logout' %}">
                        <span class="menu-icon"><i class="uil uil-sign-out-alt"></i></span>
                        <span class="menu-text">  {% trans "Sign Out" %} </span>
                    </a>
                </div>
                <div>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
               
    </div>
       </div>
</div>

<script src="{% static 'dashboard/js/vendors/alpinejs.min.js' %}" defer></script>
<script src="{% static 'dashboard/js/vendors/chart.js' %}"></script>
<script src="{% static 'dashboard/js/vendors/moment.js' %}"></script>
<script src="{% static 'dashboard/js/vendors/chartjs-adapter-moment.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard-charts.js' %}"></script>
<script src="{% static 'dashboard/js/vendors/flatpickr.js' %}"></script>
<script src="{% static 'dashboard/js/vendors/clipboard.min.js' %}"></script>
<script src="{% static 'dashboard/js/flatpickr-init.js' %}"></script>

    <!-- Plugin Js -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/preline/preline.js' %}"></script>

    <!-- App Js -->
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- Apexcharts js -->
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Knob charts js -->
    <script src="{% static 'assets/libs/jquery-knob/jquery.knob.min.js' %}"></script>

    <!-- Morris Js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <!-- Raphael Js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    {% block scripts %}{% endblock %}
</body>

</html>
