{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OpenChat - Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'dashboard/css/vendors/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/style.css' %}" rel="stylesheet">
</head>

<body class="font-inter antialiased bg-slate-100 text-slate-600" {% if sidebarExpanded %} class="sidebar-expanded" {% endif %} x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

        <!-- Sidebar -->

        <!-- Sidebar ends -->
        
        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

            <!-- Site header -->
            {% if not doNotShowTopHeader %}
            {% include 'layout/header.html' %}
            {% endif %}

            <main>
                {% block content %}{% endblock %}
            </main>

        </div>

    </div>

    <script src="{% static 'dashboard/js/vendors/alpinejs.min.js' %}" defer></script>
    <script src="{% static 'dashboard/js/vendors/chart.js' %}"></script>
    <script src="{% static 'dashboard/js/vendors/moment.js' %}"></script>
    <script src="{% static 'dashboard/js/vendors/chartjs-adapter-moment.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard-charts.js' %}"></script>
    <script src="{% static 'dashboard/js/vendors/flatpickr.js' %}"></script>
    <script src="{% static 'dashboard/js/flatpickr-init.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>

</html>