{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" data-sidebar-color="light" data-topbar-color="light" data-sidebar-view="default">
    <head>
        <meta charset="utf-8">
        <title>{% trans "Login | OpenChat" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
        <!-- App favicon -->
        <link rel="manifest" href="{% static '/site.webmanifest' %}">
        <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
    
        <!-- App css -->
        <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/libs/@iconscout/unicons/css/line.css' %}" type="text/css" rel="stylesheet">
    
        <!-- Head Js -->
        <script src="{% static 'assets/js/head.js' %}"></script>
    </head>
<body class="bg-primary h-screen w-screen flex justify-center items-center">
    <div class="2xl:w-1/4 lg:w-1/3 md:w-1/2 w-full">
        <div class="card overflow-hidden sm:rounded-md rounded-none">
            <div class="px-6 py-8">
                {% block content %}{% endblock %}
            </div>
        </div>
        <p class="text-white text-center mt-8">{% trans "Create an Account ?" %}<a href="#" class="font-medium ms-1">{% trans "Register" %}</a></p> 
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>