.DS_Store
.aider.*
.aider.conf.yml
dj_backend_server/nginx/ssl/privkey.pem
dj_backend_server/nginx/ssl/cert.pem
dj_backend_server/nginx/nginx.conf
.vscode
dj_backend_server.code-workspace
.aider*
.aiderignore
