.DS_Store
.aider.ident.cache.v1/cache.db
.aider.ident.cache.v1/cache.db-shm
.aider.ident.cache.v1/cache.db-wal
.aider.tags.cache.v1/cache.db
.aider.tags.cache.v1/cache.db-shm
.aider.tags.cache.v1/cache.db-wal
dj_backend_server/.aider.conf.yml
dj_backend_server/nginx/ssl/privkey.pem
dj_backend_server/nginx/ssl/cert.pem
