<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <script>
        window.CHAT_APP_CONFIG = {
          BASE_URL: "{{ APP_URL }}"
        };
     </script>
    <script src="{{ APP_URL }}{% static 'chat.js' %}?v7" type="text/javascript" defer></script>
    <script>
        window.onload = function () {
            initializeChatWidget({
                token: "{{ bot.token }}",
                position: "fullScreen",
                defaultOpen: true,
            });
        };
    </script>
</body>
</html>