<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    
    <script src="{{ APP_URL }}{% static 'chat.js' %}?v6" type="text/javascript" defer></script>
    <script>
        window.onload = function () {
            initializeChatWidget({
                token: "{{ bot.token }}",
                isFullScreen: true
            });
            window.addEventListener('BotMessageError', function() {
                window.setBotErrorMessage("error occured in the process.", 0.05);
            });
            window.addEventListener('botLoadingMessageReady', function() {
                window.setBotLoadingMessage("I do not have any response ... ", 0.05);
            });             
        };
    </script>
</body>
</html>