{% extends 'layout/app.html' %}
{% block content %}
{% load i18n %}

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
    <style>
        .pending {
            background-color: #FFE9A8;
            color: #F59E0B;
        }

        .in-progress {
            background-color: #E0F2FE;
            color: #10B981;
        }

        .default {
            background-color: #ECFDF5;
            color: #0EA5E9;
        }
        .collapsed {
            display: none;
        }
    </style>
<!-- Page header -->
<div class="mb-8">
    <!-- Title -->
    <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">{{ bot.name }}: {% trans "data sources" %}✨</h1>
    <ul class="inline-flex flex-wrap text-sm font-medium">
        <li class="flex items-center">
            <a class="text-slate-500 hover:text-indigo-500" href="{% url 'index' %}">{% trans "Home" %}</a>
            <svg class="h-4 w-4 fill-current text-slate-400 mx-3" viewBox="0 0 16 16">
                <path d="M6.6 13.4L5.2 12l4-4-4-4 1.4-1.4L12 8z"></path>
            </svg>
        </li>
        <li class="flex items-center">
            <a class="text-slate-500 hover:text-indigo-500">{% trans "Data Sources" %}</a>
        </li>
    </ul>
</div>
<main class="p-6">
    <div class="flex flex-col gap-6">
        <div class="card">
            <div class="p-6">
                <h4 class="card-title mb-4">{% trans "Data sources" %}</h4>
                <div class="text-sm">
                    <ul><li>{% trans "Website data sources" %}: {{website_data_sources.paginator.count}} {% trans "with crawled pages" %}: {{ crawled_pages_count }}  </li>
                        <li>{% trans "Documents Data sources" %}: {{pdf_data_sources.paginator.count}}</li>
                        <li>{% trans "Codebase data sources" %}: {{codebase_data_sources.paginator.count}} </li>
                    </ul>
                </div>

            </div>
            {% include 'settings/settings-data-addmore.html' %}
        </div>    
    </div>
</main>

{% if website_data_sources %}
     {% include 'settings/settings-data-website.html' %}
 {% endif %}
 {% if pdf_data_sources %}
     {% include 'settings/settings-data-documents.html' %}
 {% endif %}
 {% if codebase_data_sources %}
     {% include 'settings/settings-data-codebase.html' %}
 {% endif %}

{% include 'settings/settings-data-addmore.html' %}
    <script>
        const table = document.getElementById('data_sources_table');
        const toggleBtn = document.getElementById('toggleTable');
        toggleBtn.addEventListener('click', () => {
            if (table.style.display === 'none') {
                table.style.display = 'table';
            } else {
                table.style.display = 'none'; 
            }
        });
    </script>
</div>
{% endblock %}