{% extends 'layout/app.html' %}
{% with title="Dashboard" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
<!-- Page header -->
    <div class="mb-8">
        
        <!-- Title -->
        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">{{ bot.name }}: {% trans "try & share" %} ✨</h1>
        <ul class="inline-flex flex-wrap text-sm font-medium">
            <li class="flex items-center">
                <a class="text-slate-500 hover:text-indigo-500" href="{% url 'index' %}">{% trans "Home" %}</a>
                <svg class="h-4 w-4 fill-current text-slate-400 mx-3" viewBox="0 0 16 16">
                    <path d="M6.6 13.4L5.2 12l4-4-4-4 1.4-1.4L12 8z"></path>
                </svg>
            </li>
            <li class="flex items-center">
                <a class="text-slate-500 hover:text-indigo-500">{% trans "Try & Share" %}</a>
            </li>
        </ul>
    </div>
    <main class="p-6">
        <div class="flex flex-col gap-6">
            <div class="card">
                <div class="p-6">
                    <h4 class="card-title mb-4">{% trans "Try & Share!" %}</h4>
                    <div class="text-sm">{% trans "Here you can try and play with your bot, also you can share it or embed it in your web apps. Anyone with this link will be able to interact with your chatbot" %}</div>
                        <!-- Target -->

                        <div class="grid lg:grid-cols-1 gap-6">
                            <!-- Share Link -->
                            <div>
                                <div class="flex items-center justify-between">
                                    <label class="block text-sm font-medium mb-1" for="tooltip"> 🔗 {% trans "Share with others!" %}</label>
                                </div>
                                    <div class="flex items-center">
                                        <input type="text" class="form-input w-full" style="cursor: pointer!important;" id="shareable-link" value="{{ APP_URL }}{% url 'chat' token=bot.token %}" readonly />

                                        <!-- Trigger -->
                                        <span id="copy-success-message-link" class="text-sm text-green-500 ml-2"></span>
                                        <button class="btn" data-clipboard-target="#shareable-link" data-success-target="#copy-success-message-link">
                                        <button class="btn" data-clipboard-target="#shareable-link">
                                            <svg class="w-6 h-6 fill-current text-slate-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <path d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M16 1H4c-1.1 0-1.99.9-1.99 2L2 17h2V5h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
                                            </svg>
                                        </button>
                                        
                                    </div>
                            </div>
                            <!-- END Share Link -->
                            <!-- Chat Bubble Embed -->
                            <div class="px-5 py-4 rounded-sm border border-slate-200 mt-5" x-data="{ open: true }">

                                <button class="flex items-center justify-between w-full group mb-1"
                                    @click.prevent="open = !open" :aria-expanded="open" aria-expanded="false">

                                    <div class="text-sm text-slate-800 font-medium">🌎 {% trans "Embed on your web app as a chat bubble" %}</div>

                                    <svg class="w-8 h-8 shrink-0 fill-current text-slate-400 group-hover:text-slate-500 ml-3"
                                        :class="{ 'rotate-180': open }" viewBox="0 0 32 32">
                                        <path d="M16 20l-5.4-5.4 1.4-1.4 4 4 4-4 1.4 1.4z"></path>
                                    </svg>
                                </button>

                                <div class="text-sm" x-show="open" style="display: none;">
                                    <div class="img-container" style="max-width: 520px">
                                        <img src="{% static 'dashboard/images/chat-widget-info.gif' %}" alt="">
                                    </div>

                                    <div>
                                        <div class="flex items-center justify-between"
                                            style="margin-top: 1rem; margin-bottom: 1rem;">
                                            <strong>1.  {% trans "Copy the following code into your website head script" %}</strong> 
                                                	<!-- Trigger -->
                                                    <span id="copy-success-message" class="text-sm text-green-500 ml-2"></span>
                                                   <span id="copy-success-message-search" class="text-sm text-green-500 ml-2"></span>
                                                   <span id="copy-success-message-bubble" class="text-sm text-green-500 ml-2"></span>
                                            <button class="btn" data-clipboard-target="#embedChatBubble">
                                                <svg class="w-6 h-6 fill-current text-slate-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M16 1H4c-1.1 0-1.99.9-1.99 2L2 17h2V5h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
                                                </svg>
                                            </button>
                                            
                                        </div>
                                        
                                        <textarea id="embedChatBubble" class="form-input w-full" style="height: 250px"
                                            type="text" readonly>
<script src="{{ APP_URL }}{% static 'chat.js?v7' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var chatConfig = {
            token: "{{ bot.token }}",
        };

        initializeChatWidget(chatConfig);

        // YOU CAN CUSTOMIZE THE CHAT WIDGET HERE, text and images for logo.
        // Listen for the 'homeScreenCustomizationReady' event to ensure the functions are ready
        window.addEventListener('homeScreenCustomizationReady', function () {
            // Set the background URL, spacer.png is a transparent 1x1 pixel image
            window.setHomeScreenBackground("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==");

            // Set the first welcome message
            window.setHomeScreenMessages("Welcome to our chat!", "Talk to us!");
        });

        // Event listeners to update setBotErrorMessage and setBotLoadingMessage
        window.addEventListener('BotMessageError', function () {
            window.setBotErrorMessage("error occured in the process.", 0.05);
        });
        window.addEventListener('botLoadingMessageReady', function () {
            window.setBotLoadingMessage("I do not have any response ... ", 0.05);
        });


        // Event listeners to update buttonMessage and helpText
        window.addEventListener('chatHomeButtonMessageReady', function () {
            window.setChatHomeButtonMessage("Ask our powerful AI bot.", 0.05);
        });
        window.addEventListener('chatHomeButtonHelpTextReady', function () {
            window.setChatHomeButtonHelpText("The help will come in a minute.", 0.05);
        });

        // Event listeners to update buttonMessage and helpText Inside of chat.
        window.addEventListener('chatHomeButtonMessageReadyInHeader', function () {
            window.setChatHomeButtonMessageInHeader("Please start to ask at the bottom of the screen.", 0.05);
        });
        window.addEventListener('chatHomeButtonMessageReadyInHeader', function () {
            window.setChatHomeButtonHelpTextInHeader("I will search then in my knowledge base and I will give back an answer.", 0.05);
        });

        // Event listeners to update  chatInputPlaceholderReady and chatInputPlaceholderReplyReady Inside of chat.
        window.addEventListener('chatInputPlaceholderReady', function () {
            window.setChatInputPlaceholder("Ask me anything...", 0.05);
        });
        window.addEventListener('chatInputPlaceholderReplyReady', function () {
            window.setChatInputPlaceholderReply("A reply please....", 0.05);
        });
    });
</script>
                                        </textarea>
                                        
                                    </div>
                                </div>
                            </div>
                             <!-- Chat Bubble Embed -->
                        <!-- Search Box Embed -->
                        <div class="px-5 py-4 rounded-sm border border-slate-200 mt-5" x-data="{ open: true }">

                            <button class="flex items-center justify-between w-full group mb-1"
                                @click.prevent="open = !open" :aria-expanded="open" aria-expanded="false">

                                <div class="text-sm text-slate-800 font-medium">🔍 {% trans "Embed on your web app as a search box" %}</div>

                                <svg class="w-8 h-8 shrink-0 fill-current text-slate-400 group-hover:text-slate-500 ml-3"
                                    :class="{ 'rotate-180': open }" viewBox="0 0 32 32">
                                    <path d="M16 20l-5.4-5.4 1.4-1.4 4 4 4-4 1.4 1.4z"></path>
                                </svg>
                            </button>

                            <div class="text-sm" x-show="open" style="display: none;">
                                <div class="img-container" style="max-width: 520px">
                                    <img src="/static/dashboard/images/search-widget-info.gif" alt="">
                                </div>

                                <div>
                                    <div class="flex items-center justify-between"
                                        style="margin-top: 1rem; margin-bottom: 1rem;">
                                        <strong>1. {% trans "Copy the following code into your website head script. Please read the documentation to see all the options for the search widget." %}</strong> 
                                            	<!-- Trigger -->
                                                <span id="copy-success-message" class="text-sm text-green-500 ml-2"></span>
                                            <button class="btn" data-clipboard-target="#embedSearch">
                                                <svg class="w-6 h-6 fill-current text-slate-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M16 1H4c-1.1 0-1.99.9-1.99 2L2 17h2V5h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
                                                </svg>
                                            </button>
                                            
                                    </div>
                                    
                                    <textarea id="embedSearch" class="form-input w-full" style="height: 250px"
                                        type="text" readonly>
<script src="{{ APP_URL }}{% static 'search.js' %}"></script>
<script>window.CHAT_APP_CONFIG={BASE_URL:"{{ APP_URL }}/api"};</script>
<script>
    window.onload = () => {
        initilizeChatBot({
            initialFirstMessage: "Hello, Search OpenChat resources here.",
            token: "{{ bot.token }}",
            //initiatorId: "search-openchat" // provide a unique id for the search widget if you want to have custom button    
        });
    };
</script>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </main>
</div>

{% endblock content %}
{% endwith %}
{% block scripts %}

<script>
    new ClipboardJS('.btn');
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function(e) {
        var copySuccessMessage = document.querySelector(e.trigger.getAttribute('data-success-target'));
        copySuccessMessage.textContent = 'Copied';
        setTimeout(function() {
            copySuccessMessage.textContent = '';
        }, 1500);

        e.clearSelection();
    });

    clipboard.on('error', function(e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
    });
</script>

{% endblock scripts %}
