{% extends 'layout/app.html' %}
{% with title="Dashboard" %}
{% load i18n %}
{% block content %}
<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

    <!-- Page header -->
    <div class="mb-8">
        <!-- Title -->
        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">{{ bot.name }}: {% trans "chat history" %} ✨</h1>
        <ul class="inline-flex flex-wrap text-sm font-medium">
            <li class="flex items-center">
                <a class="text-slate-500 hover:text-indigo-500" href="{% url 'index' %}">{% trans "Home" %}</a>
                <svg class="h-4 w-4 fill-current text-slate-400 mx-3" viewBox="0 0 16 16">
                    <path d="M6.6 13.4L5.2 12l4-4-4-4 1.4-1.4L12 8z"></path>
                </svg>
            </li>
            <li class="flex items-center">
                <a class="text-slate-500 hover:text-indigo-500">{% trans "Data Sources" %}</a>
            </li>
        </ul>
    </div>
    <main class="p-6">
        <div class="flex flex-col gap-6">
            <div class="card">
                <div class="p-6">
                    <h4 class="card-title mb-4">{% trans "Chat History" %}</h4>
                    <div class="text-sm">{% trans "Select a conversation to get started." %}</div>
                            <!-- FAQ -->
                            <div class="w-full p-5 pt-0 mx-auto">
                                <!-- Grid -->
                                <div>
                                    <!-- Accordion -->
                                    <div class="hs-accordion-group space-y-3">
                                        {% if chatHistory %}
                                        {% for history in chatHistory %}
                                        <div class="card">
                                            <div class="hs-accordion active"
                                                id="hs-accordion-heading-{{ history.session_id }}">
                                                <button
                                                    class="hs-accordion-toggle group p-3 inline-flex items-center gap-x-3 w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 open"
                                                    aria-controls="hs-accordion-collapse-{{ history.session_id }}" id="button-{{ history.session_id }}" onclick="fetchChatHistory('{{ history.session_id }}', this)">

                                                    <span class="text-sm font-small">
                                                        {% trans "Session ID" %}: {{ history.session_id }}<br>
                                                        {% trans "Total Messages" %}: {{ history.total_messages }}<br>
                                                        {% trans "First Message" %}: {{ history.first_message|date:"F j, Y, P" }}
                                                    </span>
                                                    <i class="uil uil-angle-up ms-auto transition-all text-xl"></i>
                                                </button>
                                                
                                                <div id="hs-accordion-collapse-{{ history.session_id }}"
                                                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 collapsed"
                                                    aria-labelledby="hs-accordion-heading-{{ history.session_id }}">
                                                        <div class="grow flex flex-col md:translate-x-0 transition-transform duration-300 ease-in-out translate-x-0"
                                                        style="overflow:scroll;max-height: 70vh" id="chat-content-{{ history.session_id }}">
                                                        </div> 
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <span>{% trans "No chat history available." %}</span>
                                        {% endif %}
                                    </div>
                                    <!-- End Accordion -->
                                </div>
                                <!-- End Col -->
                            </div>
                        <!-- End FAQ -->
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
{% endwith %}

{% block scripts %}
<script>
    function fetchChatHistory(sessionId, buttonElement) {
        const buttons = document.querySelectorAll('.chat-history-button');
        buttons.forEach(button => {
            button.classList.remove('bg-indigo-100');
        });

        // Add the class to the clicked button
        buttonElement.classList.add('bg-indigo-100');

        // Make an AJAX request to the /history/session_id endpoint
        fetch('/widget/chat-history/{{ bot.id }}/' + sessionId)
            .then(response => response.text())
            .then(data => {
                // Update the content of #chat-content
                var chatContent = document.getElementById('chat-content-' + sessionId);
                if (chatContent) {
                    chatContent.innerHTML = data;
                }
               
                // Open the corresponding accordion
                var accordionContent = document.getElementById('hs-accordion-collapse-' + sessionId);
                if (accordionContent) {
                    if (accordionContent.classList.contains('collapsed')) {
                        accordionContent.classList.remove('collapsed');
                    } else {
                        accordionContent.classList.add('collapsed');
                    }
                   
                }

            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
        // Initialize all accordions to be collapsed on page load
        document.addEventListener('DOMContentLoaded', function() {
            const accordionContents = document.querySelectorAll('.hs-accordion-content');
            accordionContents.forEach(content => {
                if (!content.classList.contains('collapsed')) {
                    content.classList.add('collapsed');
                }
            });
        });
   
</script>
{% endblock %}