<!-- dashboard.html -->

{% extends 'layout/app.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ _('Dashboard') }}{% endblock %}

{% block content %}
<div class="min-h-screen h-full flex flex-col after:flex-1">

    <!-- Header -->

    <!-- Progress bar -->
    <div class="px-4 pt-12 pb-8">
        <div class="max-w-md mx-auto w-full">
            <div class="relative">
                <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-slate-200" aria-hidden="true"></div>
                <ul class="relative flex justify-between w-full">
                    <li>
                        <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                            href="{% url 'onboarding.welcome' %}">1</a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                            href="{% url 'onboarding.website' %}">2</a>
                    </li>
                    <li>
                        <a
                            class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-slate-100 text-slate-500">3</a>
                    </li>
                    <li>
                        <a
                            class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-slate-100 text-slate-500">4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="px-4 py-8">
        <div class="max-w-md mx-auto">
            <h1 class="text-3xl text-slate-800 font-bold mb-6">Select your data source ✨</h1>
            <p style="margin-bottom: 1rem">Select the source of your data to train your new chatbot, you can always add
                new sources later</p>

            <!-- Display error messages -->
            {% if messages %}
            <div x-show="open" x-data="{ open: true }" style="margin-bottom: 1rem;">
                <div class="px-4 py-2 rounded-sm text-sm bg-amber-100 border border-amber-200 text-amber-600">
                    {% for message in messages %}
                    <div class="flex w-full justify-between items-start">
                        <div class="flex">
                            <svg class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" viewBox="0 0 16 16">
                                <!-- ... -->
                            </svg>
                            <div>{{ message }}</div>
                        </div>
                        <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" @click="open = false">
                            <!-- ... -->
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="space-y-4 mb-8">
                <!-- Company Name -->
                <ul class="space-y-2 sm:flex sm:space-y-0 sm:space-x-2 lg:space-y-2 lg:space-x-0 lg:flex-col mb-4">
                    <li>
                        <form method="post" action="{% url 'onboarding.website' %}">
                            {% csrf_token %}
                            <button type="submit"
                                class="w-full h-full text-left py-3 px-4 rounded bg-white border border-slate-200 hover:border-slate-300 shadow-sm duration-150 ease-in-out">
                                <div class="flex flex-wrap items-center justify-between mb-0.5">
                                    <span class="font-semibold text-slate-800">🔗 {% trans "Website" %}</span>
                                </div>
                                <div class="text-sm">{% trans "We will crawl your website and extract the knowledge
                                    automatically" %}</div>
                            </button>
                        </form>
                    </li>

                    <!-- ... -->

                    <li style="text-align: center">
                        {% trans "Many others to come 🔥️" %}
                    </li>
                </ul>
            </div>

            <div class="flex items-center justify-between">
                <a class="text-sm underline hover:no-underline" href="{% url 'onboarding.welcome' %}">&lt;- {% trans
                    "Back" %}</a>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}