{% load i18n %}
{% for source in website_data_sources %}
<main class="p-6">
    <div class="flex flex-col gap-6">
        <div class="card">
            <div class="p-6">
                <h4 class="card-title mb-4">{% trans "Website data sources" %}</h4>
                <div class="text-sm">{% trans "This is your general bot settings such as name and id" %}</div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="bg-danger text-sm text-white p-3" role="alert">
                            <span class="font-bold">Error:</span> {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div style="margin-top: 1.5rem; margin-bottom: 1.5rem">
                            <!-- Start -->
                            <div class="rounded-sm border border-slate-200">
                                <div class="overflow-x-auto">
                                    <table class="table-auto w-full divide-y divide-slate-200">
                                        <!-- Table body -->
                                        <tbody class="text-sm" x-data="{ open: false }">
                                            <!-- Row -->
                                            <tr>
                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                    <div class="flex items-center text-slate-800">
                                                        <div
                                                            class="w-10 h-10 shrink-0 flex items-center justify-center bg-slate-100 rounded-full mr-2 sm:mr-3">
                                                            <img class="rounded-full ml-1" src="{{ source.icon }}"
                                                                width="40" height="40" alt="User 01">
                                                        </div>
                                                        <div class="font-medium text-slate-800">
                                                            <strong>{% trans "Website:" %}</strong>:
                                                            <a href="{{source.root_url}}" target="_blank">
                                                                {{ source.root_url }} 
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                    <div class="flex items-center text-slate-800">
                                                        <div class="font-medium text-slate-800">  
                                                            <strong> {% trans "Last update:" %}</strong>:
                                                            {{ source.updated_at|date:"d.m.Y" }}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                    <div class="text-left font-medium text-emerald-500">
                                                        {{ source.crawled_pages.count }} {% trans "pages scanned" %}
                                                    </div>
                                                </td>
                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                    {% if source.crawling_status.is_pending %}
                                                    <div
                                                        class="inline-flex font-medium bg-amber-100 text-amber-600 rounded-full text-center px-2.5 py-0.5">
                                                        {{ source.crawling_status.label }}
                                                    </div>
                                                    {% elif source.crawling_status.is_in_progress %}
                                                    <div
                                                        class="inline-flex font-medium bg-blue-100 text-blue-600 rounded-full text-center px-2.5 py-0.5">
                                                        {{ source.crawling_status.label }}
                                                    </div>
                                                    {% elif source.crawling_status.is_completed %}
                                                    <div
                                                        class="inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-0.5">
                                                        {{ source.crawling_status.label }}
                                                    </div>
                                                    {% elif source.crawling_status.is_failed %}
                                                    <div
                                                        class="inline-flex font-medium bg-amber-100 text-amber-600 rounded-full text-center px-2.5 py-0.5">
                                                        {{ source.crawling_status.label }}
                                                    </div>
                                                    {% endif %}
                                                </td>

                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                    <div class="flex items-center">
                                                        <svg class="w-4 h-4 fill-current text-slate-400 shrink-0 mr-2"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M4.3 4.5c1.9-1.9 5.1-1.9 7 0 .7.7 1.2 1.7 1.4 2.7l2-.3c-.2-1.5-.9-2.8-1.9-3.8C10.1.4 5.7.4 2.9 3.1L.7.9 0 7.3l6.4-.7-2.1-2.1zM15.6 8.7l-6.4.7 2.1 2.1c-1.9 1.9-5.1 1.9-7 0-.7-.7-1.2-1.7-1.4-2.7l-2 .3c.2 1.5.9 2.8 1.9 3.8 1.4 1.4 3.1 2 4.9 2 1.8 0 3.6-.7 4.9-2l2.2 2.2.8-6.4z">
                                                            </path>
                                                        </svg>
                                                        <div class="cursor-not-allowed">{% trans "Re-sync" %}
                                                            <div class="inline-flex items-center text-xs font-medium text-slate-100 bg-slate-700 rounded-full text-center px-2 py-0.5"
                                                                style="margin-left: 0.3rem">
                                                                <svg class="w-3 h-3 shrink-0 fill-current text-amber-500 mr-1"
                                                                    viewBox="0 0 12 12">
                                                                    <path
                                                                        d="M11.953 4.29a.5.5 0 00-.454-.292H6.14L6.984.62A.5.5 0 006.12.173l-6 7a.5.5 0 00.379.825h5.359l-.844 3.38a.5.5 0 00.864.445l6-7a.5.5 0 00.075-.534z">
                                                                    </path>
                                                                </svg>
                                                                <span>{% trans "soon" %} </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                    <button
                                                        class="text-rose-500 hover:text-rose-600 rounded-full cursor-not-allowed"
                                                        disabled>
                                                        <span class="sr-only">{% trans "Delete" %}</span>
                                                        <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                                                            <path d="M13 15h2v6h-2zM17 15h2v6h-2z"></path>
                                                            <path
                                                                d="M20 9c0-.6-.4-1-1-1h-6c-.6 0-1 .4-1 1v2H8v2h1v10c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V13h1v-2h-4V9zm-6 1h4v1h-4v-1zm7 3v9H11v-9h10z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </td>
                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap w-px">
                                                    <div class="flex items-center">
                                                        <button class="text-slate-400 hover:text-slate-500 transform"
                                                            :class="{ 'rotate-180': open }" id="toggleTable"
                                                            :aria-expanded="open" aria-controls="description-01"
                                                            aria-expanded="false">
                                                            <span class="sr-only">{% trans "Menu" %}</span>
                                                            <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                                                                <path d="M16 20l-5.4-5.4 1.4-1.4 4 4 4-4 1.4 1.4z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!--
                                            Example of content revealing when clicking the button on the right side:
                                            Note that you must set a "colspan" attribute on the <td> element,
                                            and it should match the number of columns in your table
                                            -->
                                            <tr id="description-01" role="region">
                                                <td colspan="10" class="px-2 first:pl-5 last:pr-5 py-3">
                                                    <div class="overflow-x-auto">
                                                        <table class="table-auto w-full" id="data_sources_table">
                                                            <!-- Table header -->
                                                            <thead
                                                                class="text-xs font-semibold uppercase text-slate-500 border-t border-b border-slate-200">
                                                                <tr>

                                                                    <th
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="font-semibold text-left">{% trans "Url" %}
                                                                        </div>
                                                                    </th>
                                                                    <th
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="font-semibold text-left">{% trans "Title" %}
                                                                        </div>
                                                                    </th>
                                                                    <th
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="font-semibold text-left">{% trans "Status" %}
                                                                        </div>
                                                                    </th>
                                                                    <th
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="font-semibold text-right">{% trans "On" %}</div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <!-- Table body -->
                                                            <tbody
                                                                class="text-sm divide-y divide-slate-200 border-b border-slate-200">
                                                                <!-- Row -->
                                                                {% for page in source.crawled_pages.all %}

                                                                <tr>

                                                                    <td
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap md:w-1/2">
                                                                        <div class="flex items-center">
                                                                            <div class="w-9 h-9 shrink-0 mr-2 sm:mr-3">
                                                                                <img class="w-9 h-9 rounded-full"
                                                                                    src="/static/dashboard/images/transactions-image-01.svg"
                                                                                    width="36" height="36"
                                                                                    alt="Transaction 01">
                                                                            </div>
                                                                            <div class="font-medium text-slate-800">
                                                                                {{ page.url|truncatechars:40 }}

                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                    <td
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="text-left">
                                                                            {{ page.title|truncatechars:20 }}
                                                                        </div>
                                                                    </td>

                                                                    <td
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="text-left">
                                                                            {% if page.status_code == '200' %}
                                                                            <div
                                                                                class="text-xs inline-flex font-medium bg-slate-100 text-slate-500 rounded-full text-center px-2.5 py-1">
                                                                                {% trans "Done" %}
                                                                            </div>
                                                                            {% else %}
                                                                            <div
                                                                                class="text-xs inline-flex font-medium bg-red-100 text-red-500 rounded-full text-center px-2.5 py-1">
                                                                                {% trans "Error" %}
                                                                            </div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>

                                                                    <td
                                                                        class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap w-px">
                                                                        <div
                                                                            class="text-right text-slate-700 font-medium">
                                                                            {{ page.created_at|date:"d.m.Y H:i" }}
                                                                        </div>
                                                                    </td>

                                                                </tr>

                                                                {% endfor %}
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            
                        </div>
                        <!-- Pagination controls for website data sources -->
                        {% if website_data_sources.paginator.num_pages > 1 %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if website_data_sources.has_previous %}
                                    <a href="?website_page=1">&laquo; {% trans "first" %}</a>
                                    <a href="?website_page={{ website_data_sources.previous_page_number }}">{% trans "previous" %}</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ website_data_sources.number }} of {{ website_data_sources.paginator.num_pages }}.
                                </span>

                                {% if website_data_sources.has_next %}
                                    <a href="?website_page={{ website_data_sources.next_page_number }}">{% trans "next" %}</a>
                                    <a href="?website_page={{ website_data_sources.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
                        <!-- End -->
            </div> 
        </div>    
    </div> 
</main> 
{% endfor %}