aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.1.0
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
channels==4.0.0
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cryptography==41.0.3
dataclasses-json==0.5.14
Django==4.2.3
django-rest-swagger==2.2.0
django-cors-headers==4.3.1
dnspython==2.4.1
drf-spectacular==0.27.1
drf_spectacular.extensions==0.0.2
exceptiongroup==1.1.2
frozenlist==1.4.0
filelock==3.13.1
fsspec==2024.2.0
huggingface-hub==0.20.3 
GitPython==3.1.42
gitdb==4.0.11
grpcio==1.56.2
grpcio-tools==1.56.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.25.2
hyperframe==6.0.1
idna==3.6
jsonpatch==1.33
kombu==5.3.1
langchain==0.1.7
langchain-community==0.0.20
langchain-core==0.1.23
langchain-openai==0.0.6
langsmith==0.0.87
loguru==0.7.0
lxml==4.9.3
marshmallow==3.20.1
multidict==6.0.4
mypy-extensions==1.0.0
numexpr==2.8.4
numpy==1.25.1
ollama==0.1.6
openai==1.12.0
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging==23.2
Pillow==10.0.0
pinecone-client==2.2.2
portalocker==2.7.0
prompt-toolkit==3.0.39
protobuf==4.23.4
pycparser==2.21
pydantic==1.10.12
PyMySQL==1.1.0
pypdf==3.14.0
pypdfium2==4.26.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-docx==1.1.0
PyYAML==6.0.1
qdrant-client==1.7.0
redis==4.6.0
regex==2023.6.3
requests==2.31.0
safetensors==0.4.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
sqlparse==0.4.4
smmap==5.0.1
tenacity==8.2.2
tiktoken==0.6.0
tqdm==4.65.0
tokenizers==0.15.2
transformers==4.37.2
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
vine==5.0.0
wcwidth==0.2.6
yarl==1.9.2

